<a class="btn btn-primary" routerLink = "" role="button">Back</a>
<h3>Businesses for {{cityName}}</h3>
<hr>
<a class="btn btn-primary back" routerLink = "/addreview" role="button">Add</a>
<div *ngFor = "let business of businessData" class="container">
  <h3><a routerLink = "/reviews" [queryParams]="{cityId: id, busId: business.id}">{{business.businessName}}</a></h3>
  <div class="panel panel-default">
    <div class="panel-body">
      Services: {{business.service}}
      <br>
      Review Avg: {{getAverage(business)}}
      <br>
      Number of reviews: {{business.reviews.length}}
      </div>
  </div>
</div>