<h3>Choose what to add</h3>
<form [formGroup]="selectForm" id="test"> 
    <select formControlName="selection" (change)="selected()" name="selection">
        <!-- for view in views { -->
      <option *ngFor="let view of views" [ngValue]="view"> {{view}} </option>
        <!-- } -->
    </select>
</form>
<br>
<hr>
<br>
<div [ngSwitch]="selectedValue">
  <form *ngSwitchCase = "'City'" [formGroup]="cityForm" (ngSubmit)="submitCity()">
    <input type="text" formControlName="cityName" name="cityName" placeholder="City Name" required>
    <div *ngIf="cityname.invalid && (cityname.dirty || cityname.touched)">
      <div class= "requireErr" *ngIf="cityname.errors.required">
        City name is required.
      </div>
    </div>
    <br>
    <br>
    <button>Submit</button>
  </form>
  <form *ngSwitchCase = "'Business'" [formGroup]="businessForm" (ngSubmit)="submitBusiness()">
    <label for="city">City Name: </label>
    <select formControlName="city" name="city" required>
        <!-- for view in views { -->
      <option *ngFor="let name of cityNames" [ngValue]="name"> {{name}} </option>
        <!-- } -->
    </select>
    <div *ngIf="buscity.invalid && (buscity.dirty || buscity.touched)">
      <div class= "requireErr" *ngIf="buscity.errors.required">
        City name is required.
      </div>
    </div>
    <br>
    <br>
    <input type="text" formControlName="businessName" name="businessName" placeholder="Business Name">
    <div *ngIf="busname.invalid && (busname.dirty || busname.touched)">
      <div class= "requireErr" *ngIf="busname.errors.required">
        Business name is required.
      </div>
    </div>
    <br>
    <br>
    <input type="text" formControlName="service" name="service" placeholder="Service provided">
    <div *ngIf="busserv.invalid && (busserv.dirty || busserv.touched)">
      <div class= "requireErr" *ngIf="busserv.errors.required">
        Service is required.
      </div>
    </div>
    <br>
    <br>
    <button>Submit</button>
  </form>


  <form *ngSwitchCase = "'Review'" [formGroup]="reviewForm" (ngSubmit)="submitReview()">
    <label for="city">City Name: </label>
    <select formControlName="city" name="city">
        <!-- for view in views { -->
      <option *ngFor="let view of views" [ngValue]="view"> {{view}} </option>
        <!-- } -->
    </select>
    <br>
    <br>
    <label for="city">Business Name: </label>
    <select formControlName="businessName" name="businessName">
        <!-- for view in views { -->
      <option *ngFor="let view of views" [ngValue]="view"> {{view}} </option>
        <!-- } -->
    </select>
    <br>
    <br>
    <input type="text" formControlName="authorName" name="businessName" placeholder="Your Name">
    <br>
    <br>
    <input type="range" formControlName="rating"  name="rating" min="1" max="5" value="5" step="0.1" class="slider" id="myRange" (change)="rated()">
    <span> {{rating}}</span>
    <br>
    <br>
    <textarea formControlName="text" name = "text" id = "myTextArea" rows = "4" cols = "80">Your text here</textarea>
    <br>
    <button>Submit</button>
  </form>
</div>
    
  